$primaryText : #000000;

div{
    padding: 5px;
    &.content{
        padding-top:10px;
        button{

        }
    }
}
button{
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    &.success{
        background: green;
        color: white;
    }

    &.error{
        background: red;
        color: white;
    }
}
